#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Custom pagination styles */
.custom-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto !important;
  position: static !important;
  margin: 0 10px;
}

.custom-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #d1d5db;
  opacity: 1;
}

.custom-pagination .swiper-pagination-bullet-active {
  background-color: #3b82f6;
}
